::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track-piece {
    background-color: #CCCCCC;
    -webkit-border-radius: 12px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 12px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 12px;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
    font-size: 13px;
    margin: 0;
    padding: 0;
}

a {
    color: #06C;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
    border: none
}

/*头部导航栏*/
header.top {
    height: 56px;
    display: block;
    background: #0099CB;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 121;
}

header.top .homeHeader {
}

header.top .homeHeader div {
    float: left;
    width: 300px;
    height: 51px;
    display: inline-block;

}

header.top .homeHeader div span.logo {
    width: 103px;
    height: 44px;
    display: inline-block;
    background: url("../images/logo.png") no-repeat;
    /*background-size: 190px 44px;*/
    margin-top: 7px;
    margin-left: 15px;
}

header.top .homeHeader div span.logodesc {
    background: url("../images/logoDesc.png") no-repeat;
    width: 158px;
    height: 44px;
    display: inline-block;
}

header.top .homeHeader ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin-top: 12px;
}

header.top .homeHeader ul li {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 12px;
    float: left;
}

header.top .homeHeader ul li a {
    display: inline-block;
    line-height: 30px;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

header.top .homeHeader ul li a:hover {
    color: #AFDFF0;
}

div.message {
    position: absolute;
    left: 15px;
    top: -4px;
    height: 15px !important;
    display: inline !important;
    width: 71% !important;
    color: wheat;
    line-height: 15px;
    font-size: 12px;
    border-radius: 20%;
}

/*左边导航*/

aside.boolbar {
    width: 230px;
    float: left;
    clear: both;
    background-color: #444444;
    height: 900px;
}

nav.sidebar {
    height: 100%;
    padding-bottom: 20px;
    /*background-color: #ffffff;*/
    overflow-x: hidden;
    overflow-y: hidden;
}

nav.sidebar:hover {
    overflow-y: auto;
}

ul.navsidebar {
    position: relative;
    width: 218px;
    background: #444444;
}

ul.navsidebar .count {
    height: 14px;
    top: 15px;
    right: 15px;
    position: absolute;
    font-size: 10px;
    color: white;
    background-color: #333333;
    width: 18px;
    line-height: 14px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #444444 inset;
    border-radius: 30%;
}

.sidebar > .navsidebar > li {
    /*border-left: 3px solid transparent;*/
    -webkit-transition: border-left-color 0.4s ease;
    -o-transition: border-left-color 0.4s ease;
    transition: border-left-color 0.4s ease;
}

.has-user-block {
    display: block;
    overflow: hidden;
    border: 0 !important;
    text-align: center;
}

.user-block {
    position: relative;
    padding: 25px 30px 0;
    cursor: pointer;
}

.user-block > .user-block-picture {
    position: relative;
    width: 115px;
    margin: 0 auto;
}

.user-block .user-block-info {
    padding-top: 15px;
    text-align: center;
}

.user-block-status {
    position: relative;
}

.user-block-status > .circle {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid #444444;
}

.user-block .user-block-info {
    padding-top: 15px;
    text-align: center;
}

.user-block .user-block-info .user-block-name {
    color: #7D848F;
}

.user-block .user-block-info .user-block-role {
    font-size: 12px;
    color: #aaa;
}

.navsidebar > li > a {
    padding: 0 !important;
}

aside.boolbar .sidebar ul {
    padding: 0px;
    margin: 0;
    list-style-type: none
}

aside.boolbar .sidebar ul li {
    padding: 0px;
    position: relative;
}

/*定义导航栏字体颜色*/
aside.boolbar .sidebar ul li a {
    color: #838485;
    font-size: 12px;
    height: 45px;
    display: inline-block;
    width: 100%;
    line-height: 45px;
    font-weight: bold;
    text-decoration: none;
}

ul.navsidebar > li a {
    text-indent: 5px;
    text-decoration: none;
    border-left: 2px solid #2A2A2A;
}

ul.navsidebar > li a em {
    margin-right: 10px;
}

.triangle {
    position: absolute;
    top: 15px;
    right: 3px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid white;
}

ul.navsidebar > li a:hover {
    background: #393939;
    color: #23B7E5 !important;
    /*border-left: 1px solid #23B7E5;*/

}

ul.navsidebar > li > ul a {
    text-indent: 20px;
    text-decoration: none;
}

ul.childLis li {
    background: #2A2A2A;
}

/*min工具条*/
aside.minboolbar {
    border-right: 1px solid #444444;
    width: 70px;
    float: left;
    clear: both;
    background: #444444;
}

ul.mintoolbar {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 68px;
    height: 100%;
    position: relative;
    padding-top: 10px;
}

ul.mintoolbar > li {
    height: 70px;
    width: 68px;
    line-height: 68px;
    margin: 0 auto;
    border-left: 1px solid #444444;
    position: relative;
    margin-top: 2px;
}

ul.mintoolbar > li.menuDetail{
    display: none;
}

ul.mintoolbar .bar{
    position: absolute !important;
    height: 11px !important;
    line-height: 11px;
    cursor: pointer;
}

ul.mintoolbar .up{
    background: url("../images/up.jpg") no-repeat;
    background-size: 68px 10px;
    margin-top: -6px;
}

ul.mintoolbar .down{
    background: url("../images/down.jpg") no-repeat;
    background-size: 68px 10px;
    bottom: 5px;
}

ul.mintoolbar > li:hover {
    /*border-left: 1px solid #36BDE7;*/
}

ul.mintoolbar > li > a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    color: #838485;
    font-size: 23px;
    text-decoration: none;
}

ul.mintoolbar > li > a:hover {
    color: #36BDE7;
    background: #363636;
}

.minClick {
    color: #36BDE7 !important;
    background: #363636;
}

.minToolMenu {
    width: 192px;
    position: absolute;
    left: 70px;
    top:133px;
}

ul.contant {
    left: 68px;
    list-style-type: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 192px;
    background: #3e3e3e;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

ul.contant li {
    height: 45px;
    width: 190px;
}

ul.contant li a {
    font-size: 13px;
    color: #A9A994;
    display: block;
    height: 43px;
    width: 188px;
    border-left: 1px solid #444444;
    line-height: 43px;
    text-decoration: none;
}

ul.contant li a:hover {
    color: #36BDE7;
    background: #393939;
    /*border-left: 1px solid #36BDE7;*/
}

ul.contant li a em {
    margin-right: 10px;
    margin-left: 5px;
}

ul.mintoolbar .count {
    height: 14px;
    top: 5px;
    left: 2px;
    position: absolute;
    font-size: 10px;
    color: white;
    background-color: #333333;
    width: 18px;
    line-height: 14px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #444444 inset;
    border-radius: 30%;
}




/*显示区*/
section.section {
    margin-left: 221px;
    margin-top: 56px;
    overflow-y: auto;
}

section.section div.showTarget {
    height: 25px;
    line-height: 25px;
    text-indent: 10px;
    color: green;
    font-size: 12px;
}

/*最下面版权部分*/
footer.footer {
    display: inline-block;
    width: 100%;
    bottom: 2px;
    height: 40px;
    left: 0;
    z-index: 999;
    margin-top: 5px;
    line-height: 40px;
    text-align: center;
    color: #BFBFC0;
    font-size: 14px;
    font-family: 微软雅黑;
}
