<!-- top navbar-->
<link type="text/css" rel="stylesheet" href="scripts/configframe/styles/index.css"/>
<header class="top">
    <nav class="homeHeader">
        <div></div>
        <ul>
            <li><a>1</a></li>
            <li><a>23</a></li>
            <li><a>1231</a></li>
        </ul>
        <ul>
            <li><a>334</a></li>
            <li><a>234</a></li>
            <li><a>223</a></li>
            <li><a>3434</a></li>
        </ul>
    </nav>
</header>
<!-- sidebar-->
<!--<aside ng-include="'scripts/configframe/views/home/sidebar.html'" class="aside"></aside>-->
<!-- offsidebar-->
<!--<aside ng-include="'scripts/configframe/views/home/offsidebar.html'" class="offsidebar"></aside>-->
    <aside class="boolbar">
        这个是导航栏  这个是导航栏  这个是导航栏  这个是导航栏  这个是导航栏
        这个是导航栏  这个是导航栏  这个是导航栏  这个是导航栏  这个是导航栏
        这个是导航栏  这个是导航栏  这个是导航栏  这个是导航栏  这个是导航栏
        这个是导航栏  这个是导航栏  这个是导航栏  这个是导航栏  这个是导航栏
    </aside>
    <!-- Main section-->
    <section class="section">
        aafafsadf
        <!-- Page content-->
        <div ui-view></div>
    </section>
<!-- Page footer-->
<footer class="footer">
    这是版本声明
</footer>