
<div style="position: relative">
    <link type="text/css" rel="stylesheet" href="scripts/configframe/styles/index.css"/>
    <!-- top navbar-->
    <header class="top" ng-include="'scripts/configframe/views/home/top-navbar.html'"></header>

    <!--<aside  class="boolbar" ng-include="'scripts/configframe/views/home/sidebar.html'"></aside>-->
    <aside class="minboolbar" ng-controller="minToolBarController"></aside>
    <!--<aside class="boolbar" ng-controller="toolbarController"></aside>-->

    <!-- Main section-->
    <!--  style margin-left: 230px;  -->
    <section class="section" style="margin-left: 71px;">
        <div class="showTarget">首页</div>
        <!-- Page content-->
        <div class="topUiView" style="overflow-y: auto;margin-left: 10px;margin-top: 3px;margin-right: 10px;" ui-view>
            index page
        </div>
        <!-- Page footer-->
        <footer class="footer">
            © Copyright ©2011-2015 北京恒昌惠诚信息咨询有限公司 版权所有 京ICP备13010550号 京公网安备11010502027387
        </footer>
    </section>
</div>
