<nav>
    <ul class="navbar">
        <li class="has-user-block">
            <div  class="collapse in" style="height: auto;">
                <div>
                    <!-- User picture-->
                    <div class="user-block-picture">
                        <div class="user-block-status">
                            <img ng-src="{{data.user.img}}" width="60" height="60" class="img-thumbnail img-circle"/>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li ng-repeat="item in data.menus" id="{{item.id}}">
             <a title="{{item.title}}" ui-sref="{{item.addr == '' ? 'home':item.addr}}"><em class="{{item.icon}}"></em></a>
            <ul class="contant">
                <li  ng-repeat="childItem in item.children" id="{{childItem.id}}">
                    <a  ui-sref="{{childItem.addr == '' ? 'home' :childItem.addr }}"> <em class="{{childItem.icon}}"></em>{{childItem.title}}</a>
                </li>
            </ul>
            <span class="count">{{item.children.length}}</span>
        </li>
    </ul>
</nav>