<nav class="sidebar">
   <ul class="navsidebar">
      <li style="padding-left: 0px !important;" class="has-user-block">
         <div class="user-block">
            <div class="user-block-picture">
               <div class="user-block-status">
                  <img ng-src="{{data.user.img}}" alt="" width="115" height="115" class="img-thumbnail img-circle">
               </div>
            </div>
            <!-- Name and Job-->
            <div class="user-block-info">
               <span class="user-block-name">{{data.user.name}}</span><br/>
               <span class="user-block-role">{{data.user.job}}</span>
            </div>
         </div>
      </li>

      <li ng-repeat="item in data.menus"  ng-mouseover="whenmouseover(item.id,$event)" ng-mouseleave="whenmouseleave(item.id,$event)" ng-click="isShow(item.id,$event)" id="{{item.id}}">
         <a  ui-sref="{{item.addr == '' ? 'home':item.addr}}"><em class="{{item.icon}}"></em>{{item.title}}</a>
         <ul ng-if="item.children && item.children.length > 0" class="childLis" ng-style="{display : $first ? 'block' :'none'}">
            <li ng-click="checkItem(childItem.id,$event)" ng-repeat="childItem in item.children" ng-mouseover="whenmouseover(childItem.id,$event)" ng-mouseleave="whenmouseleave(childItem.id,$event)" id="{{childItem.id}}">
               <a  ui-sref="{{childItem.addr == '' ? 'home' :childItem.addr }}"> <em class="{{childItem.icon}}"></em>{{childItem.title}}</a>
            </li>
         </ul>
         <!--<span class="triangle"></span>-->
         <span class="count">{{item.children.length ? item.children.length : 0 }}</span>
      </li>
   </ul>
</nav>